* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Change the color of the overscroll effect */
html {
  background-color:#000000;
}