@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
    color: #246BEF;
}

.text-secondary {
    color: #00FFBB;
}

.bg-primary {
    background-color: #246BEF;
}

.bg-secondary {
    background-color: #00FFBB;
}

.bg-gradient {
    background: rgb(36,107,239);
    background: linear-gradient(90deg, rgba(36,107,239,1) 0%, rgba(0,255,187,1) 100%);
}

.text-gradient {
    background: linear-gradient(90deg, rgba(36,107,239,1) 0%, rgba(0,255,187,1) 100%);
    background-clip: text;
    color: transparent;
}

.w-1280px {
    max-width: 1280px;
}

.text-p {
    font-size: 1.1em;
}

.top-screen {
    top: 100dvh;
}

// CUSTOM BG FOR ANCHOR TAGS LEFT TO RIGHT BG TRANSITION

.bg-anchor-gradient {
    background: linear-gradient(90deg, rgba(36,107,239,1) 0%, rgba(0,255,187,1) 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;

    border-image: linear-gradient(90deg, rgba(36,107,239,1) 0%, rgba(0,255,187,1) 100%);
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    transition: ease .3s;
    cursor: pointer;

    &:hover {
        background-size: 100% 100%;
    }
}

.border-input {
    outline: none;
    border: solid rgb(179, 179, 179) 2px;

    &:focus {
        background: linear-gradient(90deg, rgba(36,107,239,1) 0%, rgba(0,255,187,1) 100%);
        background-size: 0% 100%;
        background-repeat: no-repeat;
    
        border-image: linear-gradient(90deg, rgba(36,107,239,1) 0%, rgba(0,255,187,1) 100%);
        border-width: 3px;
        border-style: solid;
        border-image-slice: 1;
    }
}

.border-square {
    border-image: linear-gradient(90deg, rgba(36,107,239,1) 0%, rgba(0,255,187,1) 100%);
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    transition: ease .1s;
    cursor: pointer;
    width: 100px;
    height: 100px;
}